@model Ucenici
@{
    ViewData["Title"] = "Detalji o uceniku";
}

<h1>@ViewData["Title"]</h1>
<p>Id: @Model.id </p>
<p>Ime: @Model.ime </p>
<p>Prezime: @Model.prezime </p>
<p>Prosek: @Model.prosek </p>


